section#home {
  position: relative !important;
  /* height: 85vh !important; */
  background-color: white;
  font-family: var(--font-xlite);
  /* min-height: 750px !important; */
  /* max-height: 600px !important; */
}
.full-height {
  height: 100% !important;
}
.slide-banner.carousel-item {
  overflow: hidden !important;
}
img.home-abs-img {
  position: absolute !important;
  top: 0;
  width: 50% !important;
  z-index: -1 !important;
  right: -80px !important;
}
.main-txt-wrapper {
  position: absolute !important;
  top: 20% !important;
  font-family: var(--font);
}
/* .main-txt-wrapper h1{
  font-size: 1rem;
} */
.home-banner-btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 13px;
  color: var(--sec-color);
  background: transparent;
  border: 1px solid var(--sec-color);
  border-radius: 4px;
  margin: 25px 0 10px;
  font-family: var(--font);
}
.home-banner-btn:focus {
  color: white;
}
.modal-trigger.click-div {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home .carousel.carousel-slider .carousel-item p {
  width: 80% !important;
}
@media (min-width: 1200px) {
  .main-txt-wrapper {
    width: 690px !important;
  }
  section#home {
    /* min-height: 780px !important; */
    /* height: 80vh !important; */
  }
}

@media (max-width: 992px) {
  .slide-banner.carousel-item {
    background-position: 85% !important;
  }
}
@media (min-width: 601px) {
  section#home {
    min-height: 680px !important;
    height: 70vh !important;
  }
  /* img.home-abs-img {
    position: absolute !important;
    top: -150px;
    width: 100% !important;
    z-index: -1 !important;
    right: 0px !important;
  } */
  .main-txt-wrapper {
    /* position: relative !important;
    top: 400px !important;
    width: 690px !important; */
    /* text-align: center; */
  }
  #home .carousel.carousel-slider .carousel-item p {
    width: 100% !important;
  }
}
@media (max-width: 600px) {
  section#home {
    min-height: 780px !important;
    height: 100vh !important;
  }
  /* edited by me */
  .main-txt-wrapper {
    position: relative !important;
    top: 370px !important;
  }
  #home .carousel.carousel-slider .carousel-item .container {
    /* z-index: 2 !important; */
    position: relative !important;
  }
  /* added by me */
  #home .carousel.carousel-slider .carousel-item p {
    width: 100% !important;
  }
  .home-banner-btn {
    margin-top: 20px !important;
    background-color: var(--sec-color);
    color: white;
    width: 180px;
    height: 60px;
  }
  /* added by me */
  img.home-abs-img {
    position: absolute !important;
    top: 0;
    width: 100% !important;
    z-index: -1 !important;
    right: 0px !important;
  }
  .main-txt-wrapper h1 {
    font-size: 2.5rem;
  }
  .phone-main {
    position: relative !important;
    width: 100% !important;
  }
  .for-phone {
    background-position: 85% !important;
  }
}
