section#home {
  position: relative !important;
  height: 85vh !important;
  background-color: white;
  font-family: var(--font-xlite);
  min-height: 500px !important; 
  max-height: 600px !important;
}
.full-height {
  height: 100% !important;
}
.slide-banner.carousel-item {
  overflow: hidden !important;
}
img.home-abs-img {
  position: absolute !important;
  top: 0;
  width: 50% !important;
  z-index: -1 !important;
  right: -80px !important;
}
.main-txt-wrapper {
  position: absolute !important;
  top: 25% !important;
  font-family: var(--font);
}
.home-banner-btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 13px;
  color: var(--sec-color);
  background: transparent;
  border: 1px solid var(--sec-color);
  border-radius: 4px;
  margin: 25px 0 10px;
  font-family: var(--font);
}
.home-banner-btn:focus {
  color: white;
}
.modal-trigger.click-div {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home .carousel.carousel-slider .carousel-item p {
  width: 80% !important;
}
@media (min-width: 1200px) {
  .main-txt-wrapper {
    width: 690px !important;
  }
  /* section#home {
    min-height: 780px !important;
    height: 100vh !important;
  } */
}

@media (max-width: 992px) {
  .slide-banner.carousel-item {
    background-position: 85% !important;
  }
}
@media (min-width: 601px) {
}
@media (max-width: 600px) {
  section#home {
    min-height: 780px !important;
    height: 100vh !important;
  }
  /* edited by me */
  .main-txt-wrapper {
    position: relative !important;
    top: 400px !important;
  }
  #home .carousel.carousel-slider .carousel-item .container {
    /* z-index: 2 !important; */
    position: relative !important;
  }
  .home-banner-btn {
    margin-top: 20px !important;
    background-color: var(--sec-color);
    color: white;
    width: 180px;
    height: 60px;
  }
  /* added by me */
  img.home-abs-img {
    position: absolute !important;
    top: 0;
    width: 100% !important;
    z-index: -1 !important;
    right: 0px !important;
  }
}
