section#siester-mobile {
  /* background-color: var(--pri-color); */
  color: var(--main-black);
  padding: 3rem 0 0.5rem 0 !important;
  /* background-color: var(--main-grey); */
  margin: 0 !important;
}
.siester-mobile-img-div {
  width: 90%;
}
.siester-mobile-img-div img {
  width: 100%;
}
.siester-mobile-header {
  width: 100%;
}
.siester-mobile-btn-div {
  display: flex;
  justify-content: center;
}
.btn-coownership {
}
.siester-mobile-container h4 {
  font-size: 1.3rem;
}
.siester-mobile-text p {
  padding: 0 0 1rem 0;
}
.app {
  width: 50% !important;
  padding: 1rem 1rem 0 0;
}
.app img {
  width: 100%;
}
.mobile-app {
  display: flex;
}
.siester-mobile-header img {
  width: 80% !important;
}
@media (min-width: 601px) {
}
@media (max-width: 600px) {
  .siester-mobile-img-div {
    width: 100%;
    padding: 0 0 2rem 0;
  }
  .siester-mobile-text p {
    padding: 0 0 1rem 0;
    /* text-align: center; */
  }
  .siester-mobile-header img {
    width: 80% !important;
  }
}
