section#tour-section {
  /* height: 60px !important;
  margin: 0 !important;
  padding: 0 !important; */
}

.tour-img {
  width: 100%;
  /* height: 50px !important; */
}
.tour-img img {
  width: 100%;
  /* height: 700px; */
}
