/* TRUENO */
@font-face {
  font-family: "trueno";
  src: local("trueno"), url("./fonts/trueno/TruenoRg.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "trueno-bold";
  src: local("trueno"), url("./fonts/trueno/TruenoBd.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "trueno-extra-bold";
  src: local("trueno"), url("./fonts/trueno/TruenoExBd.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "trueno-lite";
  src: local("trueno"), url("./fonts/trueno/TruenoLt.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

:root {
  --pri-color: #061f35;
  --sec-color: #01b2a6;
  --main-grey: #e5e5e5;
  --dark-green: #049a01;
  --light-green: #f0ffee;
  --dark-grey: #494949;
  --main-white: #fff;
  --main-black: #222;
  --dark-blue: #0d019a;
  --light-blue: #eef8ff;
  --main-spacing: 0.2rem;
  --line-height: 1.4;
  --medium-font: 5.5rem;
  --main-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);

  --font: trueno, sans-serif;
  --font-bold: trueno-bold, sans-serif;
  --font-xbold: trueno-extra-bold, sans-serif;
  --font-lite: trueno-lite, sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pri-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 31, 53, 0.7);
}

body {
  font-family: var(--font);
  background: var(--main-white);
  overflow-x: hidden;
  color: var(--main-black);
  height: auto;
  min-height: 100vh;
  width: 100%;
  /* font-size: 1.6rem; */
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bold);
  letter-spacing: -2px;
}

.s5ths,
.m5ths,
.l5ths,
.xl5ths {
  margin-left: auto;
  left: auto;
  right: auto;
}
.row .col.s5ths {
  width: 20% !important;
}
@media only screen and (min-width: 601px) {
  .row .col.m5ths {
    width: 20% !important;
  }
}
@media only screen and (min-width: 993px) {
  .row .col.l5ths {
    width: 20% !important;
  }
}
@media only screen and (min-width: 1201px) {
  .row .col.xl5ths {
    width: 20% !important;
  }
}

.pad0 {
  padding: 0 !important;
}
.hidden {
  display: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-justify {
  text-align: justify;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden-xs {
  display: block;
}
.visible-xs {
  display: none;
}
.flex-div {
  display: flex;
}
.mag-0 {
  margin: 0 !important;
}
.mag-bottom-0 {
  margin-bottom: 0 !important;
}
.mag-top-0 {
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}
.center-sm {
  text-align: center;
}
.sec-color {
  color: var(--sec-color);
}
.pri-color {
  color: var(--pri-color);
}
.btn {
  /* background-color: var(--pri-color) !important;
  color: var(--main-white) !important;
  text-transform: uppercase !important;
  box-shadow: none !important;
  width: 80px;
  padding: 0 0 !important;
  font-size: 0.8rem !important;
  height: 32px !important;
  line-height: 32px !important; */

  cursor: pointer;
  width: 160px !important;
  height: 50px !important;
  font-size: 13px !important;
  color: var(--sec-color) !important;
  background: transparent !important;
  border: 1px solid var(--sec-color) !important;
  border-radius: 4px !important;
  margin: 25px 0 10px !important;
  box-shadow: none !important;
  font-family: var(--font) !important;
}
/* .btn-bigger {
  height: 38px !important;
  line-height: 38px !important;
  padding: 0 0rem !important;
  width: 160px;
} */

@media (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}
@media (max-width: 992px) {
  .btn-full-width {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
  .btn-full-width {
    width: 100%;
  }
}

/* new */
/* Custom Stylesheet */
/* :root {
  --pry-color: #061f35;
  --sec-color: #01b2a6;
--font: 'trueno', sans-serif;
--font-bold: 'trueno-bold', sans-serif;
  --font-lite: 'trueno-light', sans-serif;
  --font-xlite: 'trueno-ultralight', sans-serif;
--font-smbold: 'trueno-semibold', sans-serif;
  --font-xbold: 'trueno-extrabold', sans-serif;

  width: 100%;
  overflow-x: hidden;
}

::-webkit-scrollbar {
width: 8px;
}
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey;
border-radius: 10px;
}
::-webkit-scrollbar-thumb {
background: var(--pry-color);
border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
background: rgba(6, 31, 53, 0.7);
}

body {
font-family: var(--pry-font);
height: auto;
  min-height: 100vh;
  color: black;
  background-color: white;
}
h1, h2, h3, h4{
  font-family: var(--font-bold);
  letter-spacing: -2px;
}

.pad0{
  padding: 0 !important;
}
.hidden{
  display: none;
}
.reg-txt{
  font-family: var(--font);
}
.smbold-txt{
  font-family: var(--font-smbold);
}
.bold-txt{
  font-family: var(--font-bold);
}
.xbold-txt{
  font-family: var(--font-xbold);
}
.lite-txt{
  font-family: var(--font-lite);
}
.xlite-txt{
  font-family: var(--font-xlite);
}
.pry-font{
  font-family: var(--pry-font);
}
.rel{
  position: relative;
}
.abs{
  position: absolute;
}
.text-justify{
  text-align: justify;
}
.pry-color{
  color: var(--pry-color);
}
.sec-color{
  color: var(--sec-color);
}
.pry-bg{
  background-color: var(--pry-color);
  color: white;
}
.white-bg{
  background-color: white;
  color: black;
}
.white-txt{
  color: white !important;
}
.black-txt{
  color: black !important;
}
.black-bg{
  background-color: black;
  color: white;
}
.sm-black-bg{
  background-color: #1C1C1C;
  color: white;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}
.hidden-xs{
  display: block;
}
.visible-xs{
  display: none;
}
.flex-div{
  display: flex;
}
.mag-0{
  margin: 0 !important;
}
.mag-bottom-0{
  margin-bottom: 0 !important;
}
.mag-top-0{
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap{
  flex-wrap: wrap;
} */

/* Navbar Section */
/* nav.trans-nav{
  position: fixed;
  background-color: transparent;
  width: 100%;
  box-shadow: none;
  height: 90px;
  z-index: 10;
  font-family: var(--pry-font-bold);
}
nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.01);
}
nav.trans-nav ul a{
  font-size: 0.86rem;
}
nav.scrolled-nav.trans-nav{
  height: 65px;
  background-color: white;
}
nav.trans-nav ul>li>a{
  color: white;
  border-bottom: 1px solid rgba(241, 241, 241, 0.5);
}
nav.trans-nav ul>li>a.active{
  border-bottom: 1px solid white;
}

nav .brand-logo {
  top: -10px;
}
a.brand-logo img {
  width: 150px;
  position: relative;
  top: 20px;
}
a.sidenav-trigger.sec-color.right {
  position: relative;
  top: 5px;
}
nav.trans-nav ul#nav-mobile {
  top: 10px;
  position: relative;
}
nav.scrolled-nav.trans-nav ul#nav-mobile {
  top: 0;
}
nav.scrolled-nav a.brand-logo img {
  width: 150px;
  height: auto;
  top: 0;
}
nav.scrolled-nav .brand-logo {
  top: 7px;
}
button.nav-pry-btn.btn {
  background: var(--pry-color);
  font-size: 10px;
  border-radius: 20px;
  width: auto;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: var(--pry-font-bold);
}
nav button.nav-pry-btn.btn{
  margin-bottom: 0;
}
#nav-mobile li:last-child a:hover{
  background-color: transparent;
}

.sidenav{
  background-color: var(--sec-color);
  color: white;
}
.sidenav li > a {
  color: white;
  font-family: var(--font-smbold);
  font-size: 2rem;
  margin: 10px 0;
  transition: all 0.5s;
}
.sidenav li > a:hover {
  background-color: transparent;
  color: var(--pry-color);
  text-decoration: underline;
}
.close-icon.sidenav-close {
  width: 15px;
  margin-top: 20px;
  cursor: pointer;
}
.bb-1 button.nav-modal-btn.sec-btn {
  font-size: 12px;
  color: var(--pry-color);
  background-color: white;
  font-weight: 500;
  width: 150px;
  height: 45px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.bb-1 button.nav-modal-btn.sec-btn:hover {
  background-color: var(--pry-color);
  color: white;
  border-color: var(--pry-color);
}
#slide-out li:first-child{
  margin: 30px 0;
}
.sidenav-contacts {
  margin-top: 40px;
}
.social-icons img {
  width: 30px;
  padding: 10px 5px;
}
.bb-1{
  margin-top: 20px;
}
.pry-nav-btn{
  background-color: white;
  color: var(--pry-color);
  border: 1px solid var(--pry-color);
}
.pry-btn{
  background-color: white;
  color: var(--pry-color);
  border: 1px solid white;
}
.sec-btn{
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
img.menu-icon-img {
  width: 29px;
} */
/* end of Navbar Section */

/*=== Home Section ===*/
/* section#home {
  position: relative;
  height: 85vh;
  background-color: white;
  font-family: var(--font-xlite);
  min-height: 500px;
  max-height: 600px;
}
.full-height{
  height: 100%  !important;
}
.slide-banner.carousel-item {
  overflow: hidden;
}
img.home-abs-img {
  position: absolute;
  top: 0;
  width: 50% !important;
  z-index: -1;
  right: -80px;
}
.main-txt-wrapper {
  position: absolute;
  top: 25%;
  font-family: var(--font);
}
.home-banner-btn {
  cursor: pointer;
  width: 160px;
  height: 50px;
  font-size: 13px;
  color: var(--sec-color);
  background: transparent;
  border: 1px solid var(--sec-color);
  border-radius: 4px;
  margin: 25px 0 10px;
  font-family: var(--font);
}
.home-banner-btn:focus{
  color: white;
}
.modal-trigger.click-div {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
#home .carousel.carousel-slider .carousel-item p {
  width: 80%;
}
@media(min-width: 1200px){
  .main-txt-wrapper{
      width: 690px !important;
  }
}
@media(max-width: 992px) {
  .slide-banner.carousel-item {
      background-position: 85%;
  }
}
@media(min-width: 601px){}
@media(max-width: 600px){
  section#home{
      min-height: 780px;
      height: 100vh;
  }
  .main-txt-wrapper {
      position: relative;
      top: 0;
  }
  #home .carousel.carousel-slider .carousel-item .container{
      z-index: 2 !important;
      position: relative;
  }
  .home-banner-btn {
      margin-top: 20px;
      background-color: var(--sec-color);
      color: white;
      width: 180px;
      height: 60px;
  }
} */
/*=== end of Home Section ===*/

/*=== Available-Spaces Section ===*/
/* section#available-spaces {
  padding-bottom: 10px;
}
#available-spaces h5 {
  letter-spacing: -1px;
}
img.space-img {
  width: 95%;
}
.mtr-btn {
  width: 140px;
  height: 40px;
  background: transparent;
  color: var(--sec-color);
  font-size: 13px;
  border: 1px solid var(--sec-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
}
.mtr-btn:hover{
  background: var(--sec-color);
  color: white;
}
.space-img-wrapper {
  margin: 25px 0 30px;
}
@media (max-width: 600px) {
  #available-spaces .carousel-slider.visible-xs {
      min-height: 270px !important;
      margin-bottom: 30px;
  }
  #available-spaces .carousel.carousel-slider .carousel-item {
      top: 100px;
  }
  img.space-img {
      width: 100%;
  }
  .mtr-btn{
      background-color: var(--sec-color);
      color: white;
      width: 180px;
      height: 60px;
      line-height: 38px;
      font-size: 16px;
  }
} */
/*=== end of Available-Spaces Section ===*/

/*=== Co-Ownership Section ===*/
/* section#co-ownership {
  background-color: var(--pry-color);
  padding: 40px 0 20px;
}
.sec-title {
  letter-spacing: -2px;
}
.home-cont-wrapper {
  margin: 30px 0;
}
@media (max-width: 600px) {
  section#co-ownership {
      padding: 40px 0 15px;
  }
  .home-cont-wrapper {
      margin-bottom: 10px;
      text-align: center;
  }
} */
/*=== end of Co-Ownership Section ===*/

/*=== Home-Owner Section ===*/
/* section#home-owner {
  padding: 40px 0 20px;
}
@media (max-width: 600px) {
  .space-img-wrapper {
      margin-bottom: 20px;
  }
  .space-img-wrapper > div {
      margin-bottom: 25px;
  }
  .space-img-wrapper > div:last-child {
      margin-bottom: 0;
  }
} */
/*=== end of Home-Owner Section ===*/

/*=== Siester-Mobile Section ===*/
section#siester-mobile {
  padding: 60px 0 30px;
}
img.siester-logo-txt {
  width: 50%;
}
.siester-sec p {
  font-size: 13px;
}
.siester-sec h5.pry-color.sub-bold {
  font-size: 1.5rem;
  letter-spacing: -0.5px;
}
.text-side {
  margin-top: 80px;
}
img.siester-mobile-txt.full-width {
  width: 80%;
}
#siester-mobile ol {
  padding-left: 19px;
}
a.app-store-link {
  cursor: default;
}
a.app-store-link img {
  width: 90%;
  margin-top: 20px;
}
.app-store-wrapper > .col.s6 {
  padding-left: 0;
}
.scale-up {
  transition: 1s;
}
.scale-up:hover {
  transform: scale(1.05);
}
@media (min-width: 601px) and (max-width: 992px) {
  .text-side {
    margin-top: 0;
  }
  img.siester-phone-img {
    width: 90%;
    margin-top: 0;
  }
  section#siester {
    padding: 80px 0 50px;
  }
  #siester-mobile {
    padding: 0 0 50px !important;
  }
}
@media (min-width: 601px) {
  img.full-width.s-prop {
    width: 90% !important;
  }
  img.siester-phone-img {
    width: 80% !important;
    margin-top: -30px !important;
  }
}
@media (max-width: 600px) {
  section#siester {
    padding: 20px 0 !important;
  }
  .text-side {
    margin-top: 20px !important;
  }
  .text-side p {
    text-align: justify;
  }
  #siester-mobile {
    padding: 0 0 20px;
  }
  img.siester-mobile-txt.full-width {
    width: 90% !important;
    margin-top: 10px !important;
  }
  #siester-mobile p {
    text-align: justify;
  }

  img.home-abs-img {
    position: relative !important;
    top: 0;
    width: 100% !important;
    z-index: -1;
    right: 0 !important;
  }
  /* notice */
  h1.banner-title {
    font-size: 3rem;
    text-align: center;
    /* font-family: var(--font-xbold); */
  }
  #home .carousel.carousel-slider .carousel-item p,
  .home-btn-wrapper {
    width: 100% !important;
    text-align: center;
  }
}
/*=== end of Siester-Mobile Section ===*/

/*=== Video-Tour Section ===*/
/* #video-tour > .row {
  margin-bottom: 0;
}
.vt-wrapper {
  margin-bottom: -5px;
}
img.tour-video-img {
  width: 100%;
  cursor: pointer;
}
#tour-video {
  display: none;
} */
/*=== end of Video-Tour Section ===*/
/* div#main-contents-wrapper {
  padding-top: 65px;
} */
/*============================= About Page =========================*/
/*=== About-Us Section ===*/
/* img.space-img {
  width: 95%;
}
.mtr-btn {
  width: 140px;
  height: 40px;
  background: transparent;
  color: var(--sec-color);
  font-size: 13px;
  border: 1px solid var(--sec-color);
  cursor: pointer;
  border-radius: 4px;
  padding: 10px;
  margin: 20px 0;
  display: inline-block;
}
.mtr-btn:hover{
  background: var(--sec-color);
  color: white;
}
.space-img-wrapper {
  margin: 20px 0 15px;
}
@media (max-width: 600px) {
  #about-us .carousel-slider.visible-xs {
      min-height: 270px !important;
      margin-bottom: 30px;
  }
  #about-us .carousel.carousel-slider .carousel-item {
      top: 100px;
  }
  img.space-img {
      width: 100%;
  }
  .mtr-btn{
      background-color: var(--sec-color);
      color: white;
      width: 180px;
      height: 60px;
      line-height: 38px;
      font-size: 16px;
  }
} */
/*=== end of About-Us Section ===*/

/*=== Video-Tour Section ===*/
/* section#video-tour {
  margin-top: 40px;
}
#video-tour > .row {
  margin-bottom: 0;
}
.vt-wrapper {
  margin-bottom: -5px;
}
img.tour-video-img {
  width: 100%;
  cursor: pointer;
}
#tour-video {
  display: none;
} */
/*=== end of Video-Tour Section ===*/

/*============================= FAQ Page =========================*/
/* section#faq {
  margin-top: 30px;
}
section#faq ul.collapsible {
  border: none;
  box-shadow: none;
}
.faq-title {
  padding: 0 15px;
  font-size: 1.25rem;
  margin-bottom: 20px;
}
.collapsible-header i.material-icons.add-icon,
.collapsible-header i.material-icons.remove-icon {
position: absolute;
right: 10px;
margin-right: 0;
font-weight: 100;
font-size: 20px;
}
.collapsible-body {
padding: 0.3rem 1rem;
background-color: #f4f4f5;
font-size: 14px;
}
.question {
  display: inline-block;
  padding: 0 20px;
}
.collapsible-header .remove-icon {
  display: none;
}
li.active .collapsible-header .remove-icon {
  display: initial;
}
li.active .collapsible-header .add-icon {
  display: none;
}
i.material-icons.disc-icon {
  position: absolute;
  top: 19px;
  left: 2px;
  font-size: 1rem;
}
hr.questions-divider {
  margin: 50px auto;
}
#faq ol.answer {
  margin: 1em 0;
}
p.answer {
  padding: 0 20px;
}

@media (min-width: 993px) {}
 */
